---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import type { CollectionEntry } from "astro:content";
import { date } from "astro:schema";
const allPosts = (
await getCollection(
    'blog',
    ({ data }: CollectionEntry<'blog'>) => data.live == true && new Date(data.date) <= new Date()
  )
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const pageTitle = "Blog";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="80%" height="auto" alt="RaccoonNotesGif" src="/blog.png" />
    </div>
    <h2>Blogging</h2>
    <ul role="list" class="link-card-grid">
        {
            allPosts.map((cardPost) => (
                <Card
                    url={`/blog/${cardPost.id}/`}
                    image={cardPost.data.image.url}
                    title={cardPost.data.title}
                    author={cardPost.data.author}
                    description={cardPost.data.description}
                    date = {dayjs(cardPost.data.date).format("DD-MMMM-YYYY")}
                />
            ))
        }
    </ul>
</Layout>
