---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardWork.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import type { CollectionEntry } from "astro:content";
const allPosts = (
await getCollection(
    'resources',
    ({ data }: CollectionEntry<'resources'>) => data.live == true
  )
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const pageTitle = "Resources";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="900" height="350" alt="RaccoonNotesGif" src="/resources.png" />
    </div>
    <h2>Resources</h2>
    <ul role="list" class="link-card-grid">
        {
            allPosts.map((cardPost) => (
                <Card
                    url={`/resources/${cardPost.id}/`}
                    image={cardPost.data.image.url}
                    title={cardPost.data.title}
                    description={cardPost.data.description}
                    date = {dayjs(cardPost.data.date).format("DD-MMMM-YYYY")}
                />
            ))
        }
    </ul>
</Layout>
