---
interface Props {
    url: string;
    description: string;
    image: string;
    title: string;
    date: string;
   
}

const { url, image, title, date, description } = Astro.props;
---

<li class="card">
    <a class="card__link" href={url}>
        <div class="center">
            <img
                class="card__img"
                width="226"
                height="127"
                src={image}
                alt="PostImage"
            />
            <h3 class="card__title">{title} </h3>
            <small> {date} </small>
        <p>{description}</p>
            </div>
        
    </a>
</li>
