---
import BaseLayout from "./Layout.astro";
import dayjs from "dayjs";
const { frontmatter } = Astro.props;
import PostComments from "../components/PostComments.astro";
import PageView from "../components/PageView.astro";
import PageViews from "../components/PageViews.astro";
---

<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description}>
    <div class="gif">
        <img
            class="pro-img"
            width="500px"
            height="281"
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
        />
    </div>
    <h2>{frontmatter.title}</h2>
    
    <ul class="badge__list">
        <li>
            <span class="badge badge--item">LAST UPDATED:</span>
            {dayjs(frontmatter.date).format("DD-MMMM-YYYY")}
        </li>
        <li>
            <span class="badge badge--item">HOME PAGE:</span> <a
                class="badge__link"
                href={frontmatter.homepage}
                target="_blank">{frontmatter.homepage}</a
            >
        </li>
        <li>
            <span class="badge badge--item">OFFICIAL DOCS:</span> <a
                class="badge__link"
                href={frontmatter.officaldocs}
                target="_blank">{frontmatter.officaldocs}</a
            >
        </li>
         <li>
      <PageViews />
    </li>
    </ul>

    <slot />
    <PostComments />
</BaseLayout>
